.news {
    background-color: #080A0B;
    padding-top: vh(60);
    &__info {
        padding-top: vh(170);
        .title {
            margin-bottom: vh(50);
        }
    }
    &__form {
        margin-top: vw(30);
        display: flex;
        text-align: center;
        input {
            @include font('Open Sans', 400, vw(18), vw(26));
            width: vw(366);;
            background: rgba(255, 255, 255, 0.08);
            border-radius: 5px;
            color: $color-yellow;
            margin-right: vw(20);
        }
    }
}

.news {
    @include mobile {
        padding-top: vmin(70);
        .row {
            position: relative;
        }
        .col-5 {
            position: absolute;
            top: 0;
            left: -35%;
            width: vmin(230);
            height: vmin(358);
        }
        .col-7 {
            z-index: 2;
        }
        &__info {
            width: 62%;
            margin-left: vmin(110);
            padding-top: vmin(50);
            .title {
                margin-bottom: vmin(50);
            }
        }
        &__form {
            margin-top: vmin(30);
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            text-align: center;
            .button_yellow {
                width: 100%;
                margin-top: vmin(20);
            }
            input {
                @include font('Open Sans', 400, vmin(14), vmin(19));
                height: vmin(44);
                margin-right: 0;
                width: 100%;
                ::placeholder {
                    @include font('Open Sans', 400, vmin(14), vmin(19));
                    vertical-align: bottom;
                }
            }
        }
    }
}

