.header {
    @include font('Open Sans', 700, vw(12), vh(16));
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    color: $color-white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: vh(22);
    &__list {
        display: flex;
        list-style: none;
        &-item {
            @include font('Open Sans', 700, vw(12), vh(16));
            padding-right: vw(38);
            letter-spacing: 0.1em;
            text-transform: uppercase;
            &:last-child {
                padding-right: 0;
            }
        }
    }
    &__options {
        display: flex;
        align-items: center;
        .burger {
            opacity: 0;
        }
        &-icon {
            margin: 0 vw(9) 0 vw(12);
        }
    }
}

.dropdown {
    @include font('Open Sans', 700, vw(12), vh(16));
    position: relative;
    display: inline-block;
    max-width: vw(54);
    padding: vw(5);
    text-transform: uppercase;
    cursor: pointer;
    margin-right: vw(23);   
    &::before {
        content: '';
        position: absolute;
        background-color: rgba(255, 255, 255, .5);
        bottom: 0;
        right: vw(-23);
        width: 1px;
        height: 100%;
    }
    &:hover .dropdown__content {
        display: block;
    }
    &__content {
        display: none;
        top: vh(30);
        left: 0;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.75);
        width: 100%;
        padding: vw(10) 0 vw(10) vw(10);
        z-index: 1;
        border-radius: vw(3);
        &-text{
            margin-bottom: vh(10);
            &:last-child {
                margin-bottom: 0;
            }
            &:hover {
                color: #FFB548;
            }
        }
    }
}

@include mobile {
    .header {
        justify-content: space-around;
        img {
            width: vmin(32)
        }
        @include font('Open Sans', 700, vmin(12), vmin(16));
        margin-top: vmin(22);
        &__list, &__options img {
            display: none;
        }
        .burger {
            opacity: 1;
            position: relative;
            display: inline-block;
            width: vmin(18);
            height: vmin(2);
            border-radius: vmin(3);
            margin-left: vmin(20);
            background-color: $color-white;
            &::before, &::after {
                content: '';
                position: absolute;
                transform: translateY(vmin(-5));
                width: 100%;
                height: 100%;
                background-color: inherit;
            }
            &::after {
                transform: translateY(vmin(5));
            }
        }
    }
    .dropdown {
        @include font('Open Sans', 700, vmin(12), vmin(16));
        min-width: vmin(39);
        padding: vmin(5);
        margin-right: vmin(15);   
        &::before {
            right: vmin(-15);
        }
        &__content {
            top: vmin(30);
            padding: vmin(10) 0 vmin(10) vmin(10);
            border-radius: vmin(3);
            &-text{
                margin-bottom: vmin(10);
            }
        }
    }
}



